{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}

<!-- <div style="margin-left:110vh;margin-right:55vh"> -->
{% for project in projects%}
<div class="container col col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">{{project.title}}</div>
        <div class="panel-body">
            <a data-caption="<p>{{project.description}}</p>" href="{{project.image.url}}" data-fancybox>
                <img class="Image" style='width:30vh; height:60vh;' src="{{project.image.url}}" alt="image" id="photos">
            </a>
        </div>
        <div class="panel-footer">
            <p>rating:{{project.rating}}</p>
            <p>user:{{project.user}}</p>
            <a href={{project.url}}>
                <p>{{project.url}}</p>
            </a>


            <div class="container col col-md-3">
                <form action="{% url 'comment' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" value={{project.id}} name="project.id">
                    <input type="text" name="comment" id="" class="form-control comment-val"
                        style="height: 30px;border-top-right-radius: 0; border-bottom-right-radius: 0" required
                        placeholder="Add a comment...">
                    <button type="submit" class="btn btn-sm btn-primary comment-btn" onclick="commenter('{{image.id}}')"
                        style="height: 30px; border-top-left-radius: 0; border-bottom-left-radius: 0">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}