{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
<div class="container col col-md-3">
<!-- <div style="margin-left:110vh;margin-right:55vh"> -->
    {% for project in projects%}
    <div class="panel panel-default">
        <div class="panel-heading">{{project.title}}</div>
        <div class="panel-body">
            <a data-caption="<p>{{project.description}}</p>" href="{{project.image.url}}" data-fancybox>
                <img class="Image" style='width:30vh; height:60vh;' src="{{project.image.url}}" alt="image" id="photos">
            </a>
        </div>
        <div class="panel-footer">
            <p>rating:{{project.rating}}</p>
            <p>comments:{{project.comm}}</p>
            <p>user:{{project.user}}</p>
        </div>
    </div>
</div>
{% for comment in project.project_comments.all %}
<p>{{comment.comm}} by {{comment.user.username}}</p>
{% endfor %}
{% endfor %}
{% endblock %}
</div>