{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
{% endblock %}
<div style="margin-left: 37%;margin-right: 37%"></div>
{% for project in projects%}
{% if project.project %}
  <div class="panel panel-default">
    <div class="panel-heading">{{}}</div>
    <div class="panel-body">
      <a data-caption="<p>{{image.image_caption}}</p>" href="{{image.image.cdn_url}}"data-fancybox>
        <img class="Image" style='width:50vh; height:50vh;' src="{{image.image.cdn_url | default_if_none:'#'}}" alt="image" id="photos">
      </a>
      </div>
      <div class="panel-footer">
        <p>{{image.image_caption}}</p>
      </div>
    </div>
    {% endif %}
   {% endfor %}



</div>